<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" align="center">
        <h3>这是首页</h3>
        {% with messages=get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div><p style="color:red">{{message}}</p></div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% if current_user.is_authenticated %}
            <li>
                <a>当前登录用户名: {{username}}</a>
            </li>
        <li>
            <a href="{{url_for('logout')}}">登出</a>
        </li>
        {% else %}
        <li>
            <a href="{{url_for('login')}}">登录</a>
        </li>
        {% endif %}
    </div>
</body>
</html>
