html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  height: 100%;
}
.df {
  display: flex;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;
}
.jcsb {
  justify-content: space-between;
}
.fdc {
  flex-direction: column;
}
.f1 {
  flex: 1;
}
.fn {
  flex: none;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.p15 {
  padding: 15px;
}
