langchain-community
tavily-python
langchain
langchain-openai
langchainhub
faiss-cpu
beautifulsoup4
langserve[all]
tiktoken
langchain_experimental
pandas
jieba
unstructured
google-api-python-client
langchain-cli
langserve[all]
langchain-chroma
langchain-fireworks
langchain-mistralai
langchain-groq
langchain-anthropic
langchain-google-vertexai
wikipedia
langchain-aws
aiofiles